.filter {
    width: 97%;
    justify-content: end;
}

.filter__return div {
    position: absolute;
}
.filter__return a, .filter__return h4 {
    position: relative;
    top: 40px;
    right: 170px;
}

.movies__list {
    margin: 50px;
    padding: 0 125px;
    flex-direction: column;
    gap: 60px
}
