.filter {
    width: 97%;
    justify-content: end;
}

.filter__return {
    position: absolute;
    top: 205px;
    right: 244px;
}

.filter__return h4:hover {
  color: darkgrey;
}

.movies__list {
    margin: 50px;
    padding: 0 125px;
    flex-direction: column;
    gap: 60px
}
