* {
    padding: 0;
    margin: 0;
    font-family: Roboto, serif;
}
body {
    padding: 0!important;
    overflow: visible!important;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
    color: #000000;
}

.reject__error {
    color: red
}

.night { background: #313335; color: white; }

@media (prefers-color-scheme: dark) {
    .night.dark-scheme { background: black; color:  #ddd; }
}