* {
    padding: 0;
    margin: 0;
    font-family: Roboto, serif;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #000000;
}

.background__color-white {
    background-color: #FFFFFF;
}
.background__style-dark {
    background-color: #3C3F41;
}
