.notFoundPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.notFoundPage h1 {
    color: red;
    font-size: 70px;
}
.notFoundPage button {
    font-size: 25px;
}